# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Duplicate with content/**/assets
public/assets

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Obsidian
.obsidian
.trash
content