// GENERAL
.bases-page {
  // Card view
  .bases-cards {
    grid-template-columns: repeat(auto-fit, minmax(120px, 200px)) !important;
  }
  a.bases-card {
    .bases-card-body {
      margin-top: auto;
    }

    transform: translateY(0px);
    transition: all 0.25s ease;
    box-shadow: 0px 0px var(--gray);

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px var(--gray);
    }
  }
  .bases-card-image {
    img {
      width: 100%;
      margin: 0;
    }
  }
  .bases-card-meta {
    font-weight: normal;
  }

  // Table view
  table.bases-table {
    border: none;
    td,
    th {
      min-width: auto;
    }
  }
}

// SESSIONS
// Extend width of cards
// Put the session number next to the title (top-right of the card)
body[data-slug^="sessions/"] .bases-page {
  .bases-cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
  }
  .bases-card-body {
    position: relative;
  }
  .bases-card-title {
    padding-right: 20px;
  }
  .bases-card-meta {
    .bases-card-label {
      display: none;
    }
    .bases-card-row:first-child {
      position: absolute;
      top: 12px;
      right: 12px;
      color: var(--gray);
      &::before {
        content: "#";
      }
    }
  }
}

// NPCs / Lieux
body[data-slug^="npcs/"],
body[data-slug^="lieux/"] {
  .bases-page {
    .bases-card-meta {
      .bases-card-label {
        display: none;
      }
      .bases-card-row:first-child {
        display: none;
      }
    }
  }
}
