@use "../variables.scss" as *;

.markdown-preview-view,
.markdown-rendered {
  h1 {
    display: none;
  }

  a.internal {
    background: none;
  }

  a.external .external-icon {
    width: 1.2ex;
    margin: 0 0.25em;
    & > path {
      fill: var(--gray);
    }
  }
}
