@use "../variables.scss" as *;

.markdown-preview-view,
.markdown-rendered {
  h1 {
    display: none;
  }

  h1,
  h2,
  h3,
  h4 {
    scroll-margin-top: 100px;
  }

  a.internal {
    background: none;
  }

  a.external .external-icon {
    width: 1.2ex;
    margin: 0 0.25em;
    & > path {
      fill: var(--gray);
    }
  }

  a.transclude-src {
      display: none;
  }

  img {
    width: attr(alt px);
  }

  table {
    margin: 0;
    & th {
      font-family: var(--bodyFont);
      font-weight: 600;
      color: var(--gray);
      border-bottom: 1px solid var(--gray);
    }
  }
}
