/********************************
* Layout
********************************/
body {
  margin: 0;

  color: var(--color-text);

  font-family: var(--font-family-text);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.6;
}
