/********************************
* Layout
********************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-text);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.6;
}

main {
  max-width: 680px;
  margin: var(--space) auto;
}