/********************************
* Layout
********************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-text);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.6;
}

#app {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 680px;
  margin: var(--space) auto;
  padding: 0 var(--space);
}

@media (max-width: 600px) {
  #app {
    display: block;
    grid-template-columns: none;
    height: auto;
  }

  main {
    width: 100%;
  }
}
