/********************************
* Markdown
********************************/

/* Links
********************************/
.markdown {
  margin-top: var(--space-xxl);
  width: 100%;

  /* Local heading links */
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & a[href^="#"] {
      position: relative;
      text-decoration: none;

      &:hover {
        color: var(--color-text);
      }

      &:hover::after {
        content: "#";
        position: absolute;
        left: -1em;
        color: var(--color-text-soft);
      }
    }
  }
}

/* Tables
********************************/
.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;

  th,
  td {
    padding: 0.5em;
    border: 1px solid var(--color-text-soft);
    text-align: left;
  }

  th {
    font-weight: bold;
  }
}
