/********************************
 * Typography
 ********************************/

@font-face {
  font-family: "Darinia";
  src: url("/fonts/Darinia.ttf");
}

@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("/fonts/AtkinsonHyperlegible.ttf");
}

/* Headings
********************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-l);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

h4,
h5,
h6 {
  font-size: var(--font-size-m);
  font-weight: bold;
}

/* Links
********************************/
a {
  color: var(--color-text);

  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--color-link-active);
  }
}

/* Lists
********************************/
ul {
  padding-left: var(--space-m);
}

/* Icons
********************************/
.iconify {
  margin-bottom: -2px;
}
