/********************************
 * Variables
 ********************************/

:root {
  /* Colors
  ********************************/
  --color-primary: #7a593b;
  --color-text: #343330;
  --color-background: #e0ddd8;

  --color-separator: hsl(from var(--color-text) h s calc(l + 50));

  --color-primary-soft: hsl(from var(--color-primary) h s calc(l + 20));
  --color-primary-hard: hsl(from var(--color-primary) h s calc(l - 20));

  --color-text-soft: hsl(from var(--color-text) h s calc(l + 40));
  --color-text-hard: hsl(from var(--color-text) h s calc(l - 40));

  --color-background-soft: hsl(from var(--color-background) h s calc(l + 15));
  --color-background-hard: hsl(from var(--color-background) h s calc(l - 15));

  --color-link: var(--color-primary);
  --color-link-active: var(--color-primary);
  --color-link-hover: var(--color-primary-soft);

  /* Typography
  ********************************/
  --font-family-headings: "Darinia", sans-serif;
  --font-family-text: "AtkinsonHyperlegible", sans-serif;

  --font-size: 1rem;

  --font-size-xxl: calc(var(--font-size) * 2.5);
  --font-size-xl: calc(var(--font-size) * 1.8);
  --font-size-l: calc(var(--font-size) * 1.4);
  --font-size-m: var(var(--font-size));
  --font-size-s: calc(var(--font-size) * 0.9);
  --font-size-xs: calc(var(--font-size) * 0.8);
  --font-size-xxs: calc(var(--font-size) * 0.7);

  /* Spacing
  ********************************/
  --space: 1rem;

  --space-xxl: calc(var(--space) * 3.0);
  --space-xl: calc(var(--space) * 2.2);
  --space-l: calc(var(--space) * 1.5);
  --space-m: var(--space);
  --space-s: calc(var(--space) * 0.8);
  --space-xs: calc(var(--space) * 0.6);
  --space-xxs: calc(var(--space) * 0.2);

  /* Transitions
  ********************************/
  --transition-delay: 0.2s;
}