/********************************
 * Variables
 ********************************/

:root {
  /* Colors
  ********************************/
  --color-primary: #ea0075;
  --color-text: #2f2f2f;
  --color-background: #e9e9e9;

  --color-separator: hsl(from var(--color-text) h s calc(l + 50));

  --color-primary-soft: hsl(from var(--color-primary) h s calc(l + 15));
  --color-primary-hard: hsl(from var(--color-primary) h s calc(l - 15));

  --color-text-soft: hsl(from var(--color-text) h s calc(l + 30));
  --color-text-hard: hsl(from var(--color-text) h s calc(l - 30));

  --color-background-soft: hsl(from var(--color-background) h s calc(l + 15));
  --color-background-hard: hsl(from var(--color-background) h s calc(l - 15));

  --color-link: var(--color-primary);
  --color-link-active: var(--color-primary-hard);

  /* Typography
  ********************************/
  --font-family-headings: "Helvetica Neue", sans-serif;
  --font-family-text: "Helvetica Neue", sans-serif;

  --font-size: 1rem;

  --font-size-xxl: calc(var(--font-size) * 2.5);
  --font-size-xl: calc(var(--font-size) * 1.8);
  --font-size-l: calc(var(--font-size) * 1.4);
  --font-size-m: var(var(--font-size));
  --font-size-s: calc(var(font-size) * 0.8rem);
  --font-size-xs: calc(var(font-size) * 0.6rem);
  --font-size-xxs: calc(var(font-size) * 0.6rem);

  /* Spacing
  ********************************/
  --space: 1rem;

  --space-xxl: calc(var(--space) * 4.5);
  --space-xl: calc(var(--space) * 2.5);
  --space-l: calc(var(--space) * 1.5);
  --space-m: var(var(--space));
  --space-s: calc(var(space) * 0.8rem);
  --space-xs: calc(var(space) * 0.6rem);
  --space-xxs: calc(var(space) * 0.6rem);
}

body {
  background: var(--color-background);
}
